// Couleurs
$primary-color: #6a11cb;
$secondary-color: #2575fc;
$text-color: #ffffff;
$button-hover-color: #1a47a1;
$gray-color : #ccc;
$gray-color-2 : #666;
$red-color: #ff0000;

// Tailles de police
$font-size-large: 8rem;
$font-size-medium: 2rem;
$font-size-small: 1.2rem;

// Espacements
$spacing-small: .625rem;
$spacing-medium: 1.25rem;
$spacing-large: 1.875rem;

// Animations
$animation-duration: 1.5s;