@import 'variables';

.not-found {
    height: 100vh;
    background: linear-gradient(to right, $primary-color, $secondary-color);
    color: $text-color;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;

    &__error-code {
        font-size: $font-size-large;
        font-weight: bold;
        animation: pulse $animation-duration infinite alternate;
    }

    &__error-message {
        font-size: $font-size-medium;
        font-weight: bold;
        margin-bottom: $spacing-small;
    }

    &__error-description {
        font-size: $font-size-small;
        max-width: 31.25rem;
    }

    &__button {
        padding: $spacing-small $spacing-medium;
        font-size: $font-size-small;
        border-radius: $spacing-large;
        transition: 0.3s ease-in-out;

        &:hover {
            background-color: $button-hover-color;
            transform: scale(1.05);
        }
    }
}

// Animation effet de pulsation du "404"
@keyframes pulse {
    from {
        transform: scale(1);
        opacity: 0.8;
    }

    to {
        transform: scale(1.1);
        opacity: 1;
    }
}