.playing-card {
    width: 18rem;
    box-shadow: 0px .25rem .375rem rgba(0, 0, 0, 0.1);
    border-radius: .625rem;
    overflow: hidden;
    padding-top: 1rem;

    img {
        height: 12.5rem;
        object-fit: contain;
    }

    .card-body {
        text-align: center;
    }

    .btn {
        width: 100%;
    }
}