.playing-card {
    width: 18rem;
    box-shadow: 0px .25rem .375rem rgba(0, 0, 0, 0.1);
    border-radius: .625rem;
    overflow: hidden;
    text-align: center;
    padding: .625rem;
    

    &__image {
            height: 12.5rem;
            object-fit: contain;
        }

   &__body {
       text-align: center;
   }

  
    &__button {
        width: 100%;
    }
}