@import 'variables';
.search-bar {
    display: flex;
    align-items: center;
    gap: 0.5rem;
    margin: auto;

    &__input {
     
        border-radius: 1.5625rem;
        padding: 0.625rem 0.9375rem;
        border: .0625rem solid $gray-color;
    }

    &__button {
    
        border-radius: 50%;
        width: 2.5rem;
        height: 2.5rem;
        display: flex;
        align-items: center;
        justify-content: center;
    }

    &__icon {
  
        font-size: 1.2rem; 
    }
}