<div class="container mt-3">
    <app-slider></app-slider>
    <div class="row">
        <div class="col-12">
            <app-search-bar [(search)]="search"></app-search-bar>

        </div>
    </div>
    <div class="d-flex gap-3 flex-wrap">
        <app-playing-card *ngFor="let monster of filteredMonsters()" [monster]="monster"></app-playing-card>
    </div>
    <div class="d-flex justify-content-center mt-3 mb-2">
        <span *ngIf="filteredMonsters().length==0">No monsters found</span>
        <span *ngIf="filteredMonsters().length>0" class="badge btn btn-info m-2 p-3">Monsters Found {{filteredMonsters().length}}</span>
    </div>
</div>
<app-footer />